@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@300&display=swap');
body {
    height: 100vh; /* view port(뷰포트) 크기 */
    margin: 0;
    font-family: 'Nanum Gothic', sans-serif;
    position: relative;
    /* 밑에꺼 막은 이유는 여기서 설정해도 브라우저에서 안먹어서 본체에 직접 설정함 */
    /*background-color: #141414;*/
}
::-webkit-scrollbar { /* 스크롤바 안보이게 바꿔주는 CSS */
    display: none; 
}
.nav-item:hover {
    background-color: #E50914;
    border-radius: 3px; /* 둥근 모서리 */
}
#tab {
    color: #eee;
}
#specbox {
    background-color: #000000;
    border-radius: 3px;
    color: #eee;
}
#gallery {
    width: 100%;
}
#void {
    height: 40vh;
}
footer {
    background-color: #323232;
    color: #eee;
    padding: 25px;
    text-align: center;
}